@model MyFirstWebApplication.Models.MyDataViewModel

@{
    ViewData["Title"] = "MyData";
}

<h1>MyData</h1>

<table class="table">
    <thead>
        <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Datas) {
        <tr>
            <td>
                    @item.RollNumber
            </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Marks
                </td>
        </tr>
}
    </tbody>
</table>
