<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My First Title</title>
</head>
<body>

    <h1>My First Heading</h1>
    <p>My first paragraph</p>

    <h3>My Second Heading</h3>
    <p>This is a paragraph <br> with line break.</p>

    <h2>The href Attribute</h2>

    <p>HTML links are defined with the a tag. The link address is specified in the href attribute:</p>

    <a herf="https://www.isro.gov.in/">Visit ISRO</a>

    <h2> The src Attribute  </h2>

    <img src="C:\Users\Pradip Kumar Raushan\OneDrive\Desktop\Screenshot 2025-06-12 162958.jpg" width="400" height="400">

    <img src="C:\Users\Pradip Kumar Raushan\OneDrive\Desktop\Screenshot 2025-06-12 162958.jpg" alt="web site is not working">

    <h2>The Style Attribute</h2>

    <p style="color:red">This is a red paragraph</p>
    <p title="This is a tooltip">This is a paragraph</p>
    <p title='John "ShotGun" Nelson'>




</body>
</html>