<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My First Title</title>
</head>
<body>

    <h1>My First Heading</h1>
    <p>My first paragraph</p>

    <h3>My Second Heading</h3>
    <p>This is a paragraph <br> with line break.</p>

    <h2>The href Attribute</h2>

    <p>HTML links are defined with the a tag. The link address is specified in the href attribute:</p>

    <a herf="https://www.isro.gov.in/">Visit ISRO</a>

    <h2> The src Attribute  </h2>

    <img src="C:\Users\Pradip Kumar Raushan\OneDrive\Desktop\Screenshot 2025-06-12 162958.jpg" width="400" height="400">

    <img src="C:\Users\Pradip Kumar Raushan\OneDrive\Desktop\Screenshot 2025-06-12 162958.jpg" alt="web site is not working">

    <h2>The Style Attribute</h2>

    <p style="color:red">This is a red paragraph</p>
    <p title="This is a tooltip">This is a paragraph</p>
    <p title='John "ShotGun" Nelson'>

        <h1 style="font-size:50px;">Heading 1</h1>>

    <p>
        This paragraph
        contains a lot of lines
        in the source code,
        but the browser
        ignores it.
    </p>



    <p>
        This paragraph
        contains a               lot of lines
        in the source code,
        but the browser
        ignores it.
    </p>

    <h1>This is Heading 1</h1>
    <p>This is some text</p>
    <hr>
    <h2>This is Heading 2</h2>
    <p>This is some other text</p>

    <h3>This is Poem</h3>
    <p>
        My Bonnie lies over the ocean.

        My Bonnie lies over the sea.

        My Bonnie lies over the ocean.

        Oh, bring back my Bonnie to me.
    </p>

    <pre>
        My Bonnie lies over the ocean.

        My Bonnie lies over the sea.

        My Bonnie lies over the ocean.

        Oh, bring back my Bonnie to me.
    </pre>


    <p style="color:blue;background-color:yellow">
        My Bonnie lies over the ocean.

        My Bonnie lies over the sea.

        My Bonnie lies over the ocean.

        Oh, bring back my Bonnie to me.
    </p>

    <h1 style="background-color:powderblue">POEM</h1>

    <pre style="background-color:tomato">
        My Bonnie lies over the ocean.

        My Bonnie lies over the sea.

        My Bonnie lies over the ocean.

        Oh, bring back my Bonnie to me.
    </pre>

    <hr>
    <h2 style="font-family:'Courier New'; text-align:center; font-size:200%;">Poem</h2>

    <p style="font-family:Verdana">
        My Bonnie lies over the ocean.

        My Bonnie lies over the sea.

        My Bonnie lies over the ocean.

        Oh, bring back my Bonnie to me.
    </p>
    <hr>

    <p><b>This text is bold.</b></p>
    <p><i>This Text is Italic.</i></p>
    <p><strong>This is strong text.</strong></p>
    <p><em>This is emphasized text.</em></p>
    <p><mark>This is marked text.</mark></p>
    <p><small>This is smaller text.</small></p>
    <p><del>This is deleted text.</del></p>
    <p><ins>This is inserted text.</ins></p>
    <p>This is <sub>Subscript</sub>and<sup>Superscript text.</sup></p>

    <hr>
    <h2 style="color:aqua;align-content:center">UPSC</h2>

    <p>Here is a quote from UPSC website</p>
    <blockquote cite="https://www.drishtiias.com/upsc-syllabus">
        The UPSC Civil Services Examination (CSE) is one of India’s most prestigious
        and competitive exams. Conducted annually by the Union Public Service Commission,
        it aims to recruit candidates for top government posts like IAS, IPS, IFS, and IRS.
        Understanding the UPSC syllabus is the first step towards an effective preparation
        strategy.

        Scroll down for a comprehensive overview of the UPSC Prelims and Mains syllabus,
        including detailed subject-wise breakdowns, optional subjects, and the essay and
        interview components. Download the latest UPSC Syllabus PDF 2025 and gear up for
        structured, smart preparation.

    </blockquote>
    <hr>
    <p>
        The journey to UPSC success is not just about reaching the destination,
        but about the <q> transformation you undergo along the way.</q>
    </p>

    <p>
        The <abbr title="UPSC"> Union Public Service Commision</abbr>
        was founded in 1 Oct 1926.
    </p>

    <address>
        Deep Jyoti<br>
        Marathalli, 2nd Cross<br>
        Near to SGR Dental College.
    </address>

    <p>Cite word is used for <cite>Italic</cite>.</p>

    <bdo dir="rtl">This text will be written form right to left. </bdo>

    <p> This is a <!--This is a Comment-->Paragraph.</p>
    <!--<p>This is a paragraph</p>-->

    <hr>
    <h1 style="text-align:center; background-color:cornflowerblue">Background Color</h1>

    <p style="background-color:tomato; text-align:center; font-size:150%">
        Lorem ipsum dolor
        sit amet, consectetuer adipiscing elit, sed diam nonummy
        nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi
        enim ad minim veniam, quis nostrud exercitation ullamcorper suscipit lobortis
        nisl ut aliquip ex ea commodo consequat.
    </p>

    <h1 style="color:tomato">Text Color</h1>


    <p style="color:dodgerblue">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
    </p>


    <p style="color:seagreen">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
        lobortis nisl ut aliquip ex ea commodo consequat.
    </p>

    <h1>Border Color</h1>

    <h1 style="border:5px solid Tomato;">Hello World</h1>
    <h1 style="border:3px solid blue;">Hello World</h1>
    <h1 style="border:3px solid pink;">Hello World</h1>

    <h1 style="background-color:rgb(255,99,71)">rgb(255,99,71)</h1>>
    <h1 style="background-color:#ff6347;">#ff6347</h1>
    <h1 style="background-color:hsl(9,100%,64%)">hsl(9,100%,64%)</h1>

    <h1 style="background-color:rgba(255,99,71,0.5)">rgba(255,99,71,0.5)</h1>
    <h1 style="background-color:hsla(9,100%,64%,0.5)">hsla(9,100%,64%,0.5)</h1>

    <h1 style="background-color:rgb(255,0,0);">rgb(255,0,0)</h1>
    <h1 style="background-color:rgb(60,60,60)">rgb(60,60,60)</h1>
    <h1 style="background-color:rgb(40,60,100)">rgb(40,60,100)</h1>
    <h1 style="background-color:rgb(200,200,200)">rgb(200,200,200)</h1>

    <h1 style="background-color:rgb(140,140,130)">rgb(140,140,130)</h1>
    <h1 style="background-color:rgb(255,99,71,0.6)">rgb(255,99,71,0.6)</h1>

    <a href="https://www.w3schools.com/"> Visit w3 Schools.com </a>
    <br> <br>
    <p>If target="_blank", the link will open in a new browser window or tab.</p>

    <a href="https://www.w3schools.com/sql/" target="_blank">Visit w3 Schools </a>

    <h2>Absolute URL</h2>
    <p><a href="https://www.w3.org/" target="_blank">W3.Org</a> </p>
    <p><a href="https://www.google.com/">Google</a></p>

    <h2>Relative URL</h2>
    <p><a href="Information about Red Orange Color #F44336">Information about Red Color</a></p>
    <p><a href="/css/default.asp">CSS Tutorial</a></p>

    <p>Click the button to go to the HTML tutorial.</p>

    <button onclick="document.location='default.asp'">HTML Tutorial</button>

    <h2>Link Title</h2>
    <p>
        The title attribute specifies extra information about an element.
        The information is most often shown as a tooltip text when the mouse moves over the element
    </p>
    <a href="https://www.w3schools.com/html/" title="Go to W3Schools HTML section">Visit our HTML Tutorial</a>




    <style>
        a:link {
            color: pink;
            background-color: transparent;
            text-decoration: none;
        }
    </style>


    <h2>Image Maps</h2>
    <p>
        Click on the computer, the phone,
        or the cup of coffee to go to a new page and read more about the topic:
    </p>

    <img src="img.jpg" alt="workplace" width="400" height="379" />
    <map name="workmap">
        <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
        <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
        <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm">

    </map>

    <h2>Background Image</h2>

    <p>A background image for a p element:</p>

    <style>
        
        p {
            background-image: url('img1.jpg');
        }
        
    </style>

    <p>
        You can specify background images<br>
        for any visible HTML element.<br>
        In this example, the background image<br>
        is specified for a p element.<br>
        By default, the background-image<br>
        will repeat itself in the direction(s)<br>
        where it is smaller than the element<br>
        where it is specified. (Try resizing the<br>
        browser window to see how the<br>
        background image behaves.

    </p>





</body>
</html>